// .custom-modal .modal-content {
//   height: 50vh; // modal cao 70% màn hình
//   max-height: 90vh; // tránh tràn
// }
.right {
  float: right;
}

.gender-select .react-select__control {
  min-height: 30px !important; // giảm chiều cao
  height: 30px !important;
}
