/* ======================= FOOTER =================== */

.footer {
  margin-top: 170px;
  padding-top: 100px;
  background: #10375c;
  font-family: "Open Sans", sans-serif;
}

/* TOP FOOTER GRID */
.footer__top {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  column-gap: 78px;
}

/* TEXT */
.footer__desc {
  margin-top: 21px;
  color: #a9b3bb;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.footer__heading {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer__list {
  margin: 20px 0 28px;
}

.footer__item {
  margin-bottom: 10px;
}

.footer__link {
  color: #a9b3bb;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  white-space: nowrap;
}

.footer__link:hover {
  text-decoration: underline;
}

/* SOCIAL */
.footer__social {
  display: flex;
  column-gap: 10px;
  margin: 20px 0 28px;
}

.footer__social-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
  color: #2e80ce;

  transition: 0.25s;
}

.footer__social-btn:hover {
  background: #2e80ce;
  color: #fff;
}

/* SUBSCRIBE FORM */
.footer-form {
  display: flex;
  column-gap: 12px;
  margin-top: 10px;
}

.footer-form__input {
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  background: transparent;
  outline: none;
  color: #fff;
  padding: 0 12px;
}

.footer-form__input::placeholder {
  color: #9ca8b1;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.footer-form__submit {
  width: 108px;
  height: 46px;
  border-radius: 4px;
  background: #2e80ce;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.footer-form__submit:hover {
  opacity: 0.9;
}

/* COPYRIGHT */
.footer__copyright {
  border-top: 1px solid #406181;
  margin-top: 40px;
}

.footer__copyright-text {
  padding: 28px 0 42px;
  color: #aab3ba;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86;
}

// ======================
.footer__list {
  margin: 20px 0 28px;
  list-style: none; /* bỏ dấu chấm */
  padding-left: 0; /* bỏ thụt lề */
}
