* {
  box-sizing: border-box;
}

/* Đặt biến */

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* ===================== Phần common ================= */
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  width: 1170px;

  margin: 0 auto;
  max-width: calc(100% - 48px);
}

a {
  text-decoration: none;
}

.section-heading {
  color: #10375c;
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -1;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
}

/* control btn */
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #575f66;
  background: #fff;
  cursor: pointer;

  transition: 0.25s;
}

.control__btn:hover {
  background: #2e80ce;
  border: #2e80ce;
  color: #fff;
}

.control-icon--next {
  rotate: 180deg;
}

/* =============================== TEAM SECTION ====================== */

.team {
  padding: 85px 0;
}

.team-header {
  text-align: center;
  margin: 0 auto;

  .section-heading {
    font-size: 3rem;
    font-weight: 700;
    color: #10375c;
  }

  .team__cta {
    margin-top: 20px;
    display: inline-flex; /* căn giữa chữ theo cả 2 chiều */
    justify-content: center;
    align-items: center;

    height: 40px; /* tăng chiều cao */
    min-width: 205px; /* giảm chiều dài */
    padding: 0 24px; /* padding hợp lý hơn */

    font-size: 1.8rem; /* chữ to hơn */
    font-weight: 600; /* đậm hơn */

    border-radius: 999px;
    background: #2e80ce;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: 0.25s;
  }

  .team__cta:hover {
    opacity: 0.9;
  }
}

/* =============================== SLIDER LIST ====================== */

.team__list {
  margin-top: 50px;

  /* Khoảng cách giữa các slide */
  .slick-slide {
    padding: 0 15px;
    box-sizing: border-box;
  }
}

/* =============================== TEAM ITEM ====================== */

.team-item {
  cursor: pointer;
  text-align: center;
}

/* Khung chứa ảnh */
.mfacility-item__img-bg {
  // border-radius: 6px;
  // background: #eaf6ff;
  padding-top: 28px;
  overflow: hidden;
  height: 280px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Ảnh */
.mfacility-item__img-bg img {
  width: auto;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

/* Hover phóng to ảnh */
.team-item:hover .mfacility-item__img-bg img {
  transform: scale(1.1);
}

/* Tên bác sĩ */
.team-item__name {
  margin-top: 12px;
  color: #10375c;
  font-size: 1.6rem;
  line-height: 1.75;
  font-weight: 600;
}

/* Mô tả */
.team-item__desc {
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86;
}

// =============================================================================================================
// reset slick slider css
/* ===== Nút prev/next chung ===== */
.slick-prev,
.slick-next {
  width: 44px !important;
  height: 48px !important;
  background: #fff !important;
  border: 2px solid #d7d7d7 !important;
  position: absolute;
  z-index: 100;

  &:hover {
    background: #07b5fac7 !important; /* nền cam */
    border-color: transparent !important;
  }
}

/* Vị trí riêng */
.slick-prev {
  left: -10px !important;
}
.slick-next {
  right: -10px !important;
}

.slick-disabled {
  display: none !important;
}

/* ===== Icon SVG chung ===== */
.slick-prev::before,
.slick-next::before {
  content: "" !important;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-40%, -50%);
  background-image: url("../../../assets/images/next-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Prev xoay 180° */
.slick-next::before {
  transform: translate(-60%, -50%) rotate(180deg);
}

/* Hover: icon trắng */
.slick-prev:hover::before,
.slick-next:hover::before {
  filter: brightness(0) invert(1);
}
