.doctor-schedule-container {
  .m-s-title {
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    // text-align: center;
  }

  .all-available-time-container {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .schedule-btn {
    font-size: 12px; /* chữ to */
    padding: 6px 0;
    border-radius: 6px;
    font-weight: 500;
    width: 100%; /* full chiều ngang col-3 */
    display: flex; /* căn giữa chữ */
    justify-content: center; /* ngang */
    align-items: center; /* dọc */
    text-align: center;
  }
}

// ===================
.doctor-schedule-container {
  .form-group {
    display: flex;
    flex-direction: column;
  }

  /* Chiều cao chuẩn cho cả Select và DatePicker */
  .react-select__control,
  .form-control {
    height: 38px !important; /* ⭐ cùng chiều cao */
    min-height: 38px !important;
    font-size: 16px;
    border-radius: 4px !important;
  }

  /* React-select cần override thêm */
  .react-select__value-container {
    height: 38px !important;
    display: flex;
    align-items: center;
  }

  .react-select__input-container {
    margin: 0 !important;
    padding: 0 !important;
  }
}
