.profile-doctor-item__img-bg {
  width: 160px; // kích thước khung ảnh
  height: 160px;
  border-radius: 50%; // bo tròn khung
  overflow: hidden; // cắt phần thừa
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5; // optional
}

.profile-doctor-item__img-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover; // ảnh vừa khung, không méo
  object-position: 40% -60%;

  border-radius: 50%; // bo tròn ảnh
}

.profile-doctor-container {
  .col-md-3 {
    // padding-left: 0 !important;
  }
  .content-right {
    margin-left: 30px;
  }
}

.doctor-desc {
  display: -webkit-box;
  -webkit-line-clamp: 3; // giới hạn 2 dòng
  -webkit-box-orient: vertical;
  overflow: hidden;

  max-height: 96px; // tương ứng 2 dòng (2 × 24px)
  line-height: 24px;

  overflow-y: auto; // bật thanh cuộn dọc
}

.profile-doctor-container {
  .content-bottom-right {
    margin-left: 30px;
  }
}
